/*Déclaration variables couleurs*/
$navbar_fond: #fff ;
// $body_fond: #D4CC8E;
$input_border:#19b9e7;
$text_color: #000;

body{
  background-color: $navbar_fond;
}
.container-fluid{
  padding-bottom: 25px;
}
.navbar-default{
  /*Couleur barre de navigation*/
  background-color: $navbar_fond;
  border-radius: 0;
  border:none;
  /*Hamburger*/
  .navbar-toggle{
    background-color: $input_border;
  }
  /*Hamburger - Barre*/
.navbar-toggle .icon-bar{
  background-color: $navbar_fond;
  }
  .navbar-brand{
    color: $text_color;
    font-weight: 400;
  }
  .navbar-brand:hover{
    color: $input_border;
  }
  /*Liens navbar*/
  .navbar-nav > li > a{
    color: $input_border;
  }
  /*Bouton Log In/Sign up*/
.btn-primary{
  background-color: transparent;
  border-color: transparent;
}
}
/*----------FOOTER------------------*/
footer{
  background-color:$navbar_fond;
  padding-bottom: 0;
.SocialMedia li{
  display: inline-block;
}
h3{
  color: $text_color;
  font-size: 20px;
  font-weight:400;
}
  ul, ul h3 a{
    list-style-type: none;
    color:$text_color;
  }
  ul li a{
    color: $text_color;
    text-decoration: none;
  }
  ul li a:hover{
    color: $text_color;
  }
  input[type="text"],input[type="mail"]{
    margin-bottom: 0.5em;
    height: 34px;
    width: 65%;
  }

  input.form-control{
    margin-left: 60px;
  }
  button.btn{
    background-color:$input_border;
    width: 65%;
  }
   button.btn:focus, button.btn:hover{
    background-color:$input_border;
    opacity: 1;
  }
}
