<!--Footer-->
<footer class="row">

	<div class="col-md-4">
		<p class="text-center"><a href="#">Mentions légales</a></p>
	</div>

	<div class="col-md-4">
		<p class="text-center"><a href="#">Conditions générales d'utilisations</a></p>
	</div>

	<div class="col-md-4">
		<p class="text-center"><a href="#">Copyright</a></p>
	</div>

</footer>
