<!--Footer-->
		<footer>
		  <div class="container">
		    <div class="row">
		      	<div class="col-md-4">
		        	<ul>
		         		<h3><a href="#">La Bouée Corsaire</a></h3>
		          		<li><a href="#">Mentions légales</a></li>
		          		<li><a href="#">Conditions générales d'utilisations</a></li>
		          		<li><a href="#">Copyright</a></li>
		        	</ul>
		    	</div>

		      	<div class="col-md-4">
					<ul>
					  	<h3>Nos services</h3>
					  	<li>Jardinerie</li>
					  	<li>Soutien scolaire</li>
					  	<li>Automobile</li>
					</ul>
		      	</div>

			  	<div class="col-md-4">

					<h3>Contactez-nous</h3>
<!--Formulaire de contact-->
					<form class="contact" action="index.html" method="post">
						<input type="text" class="form-control" placeholder="Votre Prénom" required>
						<input type="mail" class="form-control" placeholder="Votre e-mail" required>
						<button type="submit" class="btn btn-primary" name="button">Envoyer</button>
						<ul class="SocialMedia">
						<li><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i>
						</ul>
					</form>
				</div>

		    </div>
		  </div>
		</footer>
