<!--Le fonctionnement-->

<section class="row">
  <h2 class="text-center">En ce moment</h2>
  <div class="col-md-4 col-md-push-2 list-group">
    {% for task in tasks1 %}
    <a href="/task/show/{{ task.id }}" class="list-group-item">
      <h4>{{ task.title }}</h4><p>{{ task.location }}</p>
    </a>
    {% endfor %}
  </div>
  <div class="col-md-4 col-md-push-2 list-group">
    {% for task in tasks2 %}
    <a href="/task/show/{{ task.id }}" class="list-group-item">
      <h4>{{ task.title }}</h4><p>{{ task.location }}</p>
    </a>
    {% endfor %}
  </div>
</section>
