{% extends 'base.html.twig' %}

{% block stylesheets %}

	{{ parent() }}

	{% stylesheets filter="cssrewrite,scssphp" output="css/forms.css" combine=true
		'scss/forms.scss'
	%}
		<link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
	{% endstylesheets %}

{% endblock %}

{% block body %}

	<div class="row">

		<div class="col-lg-12">
			<h1>{{ block('title') }}</h1>
		</div>

		<div class="col-sm-6 col-sm-offset-3">
			{% block form %}{% endblock %}
		</div>

	</div>

{% endblock %}
