{% extends "base.html.twig" %}

{% block title %}Administration{% endblock %}

{% block body %}

	<h1>{{ block('title') }}</h1>

	<div class="row">

		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">Administration</div>
				<div class="panel-body">
					<p><a href="user/list">Utilisateurs</a></p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<p><a href="/profile" class="btn btn-default">Profil du compte</a></p>
			<p><a href="/message/list" class="btn btn-default">Messagerie</a></p>
			<p><a href="/logout" class="btn btn-default">Déconnexion</a></p>
		</div>

	</div>

{% endblock %}
