body{
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
}
/*-------------HEADER----------------*/

.navbar{
  margin-bottom: 0;
}
/*Connection/Inscription*/
.btn-primary{
  color: gray;
  padding: 15px 16px;
  background-color: transparent;
  border:none ;
}
.btn-primary:hover{
  color: gray;
  background: none;
  border: none ;
}
