{% trans_default_domain 'FOSUserBundle' %}

<style type="text/css">

/*input {
	color: red;
	background-color: aqua ;
}*/

</style>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}
