* {
  box-sizing: border-box; }
  /*Déclaration variables couleurs*/
  $navbar_fond:#93A567 ;
  $body_fond: #D4CC8E;
  $input_border:#CF6243;

body{
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif;
}

  h2{
    color: #CF6243;
  }
a:hover{
  text-decoration: none;
}
/*-------------HEADER----------------*/
header{
  .navbar-default{
    /*Couleur barre de navigation*/
    margin-bottom: 0;
    background-color: $navbar_fond;
    border-radius: 0;
    border:none;
    color: white;
    font-weight: 400;
  }
 a.navbar-brand{
    color: white;
    font-weight: 400;
  }
  .navbar-default .navbar-brand {
    color: white;
}
  .navbar-default .navbar-brand:hover{
    color: white;
  }
    /*Hamburger*/
    .navbar-toggle{
      background-color: white;
    }
    /*Bouton Log In/Sign up*/
  .btn-primary{
    background-color: transparent;
    border: none;
  }
  .btn-primary:hover,.btn-primary:focus, .btn-primary:active:focus,{
    background-color: transparent;
    border: none;
  }
    /*Hamburger - Barre*/
  .navbar-toggle .icon-bar{
    background-color: $navbar_fond;
    }
    /*Liens navbar*/
    .navbar-default .navbar-nav>li>a, .navbar-nav > li > a, .navbar-default .navbar-nav>li>a:hover{
      color: white;
    }

#image_background{
  background-image: url('images/colleagues.jpg');
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

}
/*----------Explications-------------*/
section{
  padding-top: 25px;
h1{
    margin-bottom: 25px;
  }
  .col-md-3 img{
    width: 50%;
  }
}

/*-----------Actualités des beoins/services---*/
.list-group-item{

    border:1px solid $input_border ;
}
.list-group-item.active:hover, .list-group-item.active{
  background-color:$navbar_fond;
  border-color: $input_border;
}
a.list-group-item:hover{
  background-color:$navbar_fond;
  border-color: $input_border;
  color: white;
}
/*----------FOOTER------------------*/
footer{
  background-color:$navbar_fond;
  padding-bottom: 0;
  .SocialMedia li{
  display: inline-block;
  }
  h3{
  color: white;
  font-size: 20px;
  font-weight:400;
a{
  color: white;
}
a:hover{
  color: white;
}
  }

  ul{
    list-style-type: none;
    color: white;
  }
  ul li a{
    color: white;
    text-decoration: none;
  }
  ul li a:hover{
    color: white;
    text-decoration: none;
  }
  input[type="text"],input[type="mail"]{
    margin-bottom: 0.5em;
    height: 34px;
    width: 65%;
  }
  /*button.btn{
    background-color:$input_border;
    border: none;
  }
   button.btn:focus, button.btn:hover{
    background-color:$input_border;
    opacity: 1;
  }*/

.btn-primary,.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
      background-color:$input_border;
      border:none;
}

  }
