// Fonts
$primaryFont: "Roboto";

// Colors
$grey: #f9f9f9;
$light_grey: #c4e4db;


// Reset
* {
    box-sizing: border-box;
}

// .wrapper {
//     width: 1040px;   //largeur à fixer pour contenir tous les éléments après le #top_header.
//     max-width: 90%;
//     margin: 0 auto;
// }

//Main style

body {
    font-family: $primaryFont, Arial, sans-serif;
    background-color: $grey;
}

//Clearfix_helper

.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}

h2 {
	color: red;
}
