@charset "UTF-8";
* {
  box-sizing: border-box; }

/*Déclaration variables couleurs*/
body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif; }

h2 {
  color: #CF6243; }

a:hover {
  text-decoration: none; }

/*-------------HEADER----------------*/
header {
  /*Hamburger*/
  /*Bouton Log In/Sign up*/
  /*Hamburger - Barre*/
  /*Liens navbar*/ }
  header .navbar-default {
    /*Couleur barre de navigation*/
    margin-bottom: 0;
    background-color: #93A567;
    border-radius: 0;
    border: none;
    color: white;
    font-weight: 400; }
  header a.navbar-brand {
    color: white;
    font-weight: 400; }
  header .navbar-default .navbar-brand {
    color: white; }
  header .navbar-default .navbar-brand:hover {
    color: white; }
  header .navbar-toggle {
    background-color: white; }
  header .btn-primary {
    background-color: transparent;
    border: none; }
  header .btn-primary:hover, header .btn-primary:focus, header .btn-primary:active:focus {
    background-color: transparent;
    border: none; }
  header .navbar-toggle .icon-bar {
    background-color: #93A567; }
  header .navbar-default .navbar-nav > li > a, header .navbar-nav > li > a, header .navbar-default .navbar-nav > li > a:hover {
    color: white; }
  header #image_background {
    background-image: url("../images/colleagues.jpg");
    height: 80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center; }
  header .form-control, header .btn {
    padding: 7px 15px;
    height: 41px; }

/*----------Explications-------------*/
section {
  padding-top: 25px; }
  section h1 {
    margin-bottom: 25px; }
  section .col-md-3 img {
    width: 50%; }

/*-----------Actualités des beoins/services---*/
.list-group-item {
  border: 1px solid #CF6243; }

.list-group-item.active:hover, .list-group-item.active {
  background-color: #93A567;
  border-color: #CF6243; }

a.list-group-item:hover {
  background-color: #93A567;
  border-color: #CF6243;
  color: white; }

/*----------FOOTER------------------*/
footer {
  background-color: #93A567;
  padding-bottom: 0;
  /*button.btn{
    background-color:$input_border;
    border: none;
  }
   button.btn:focus, button.btn:hover{
    background-color:$input_border;
    opacity: 1;
  }*/ }
  footer .SocialMedia li {
    display: inline-block; }
  footer h3 {
    color: white;
    font-size: 20px;
    font-weight: 400; }
    footer h3 a {
      color: white; }
    footer h3 a:hover {
      color: white; }
  footer ul {
    list-style-type: none;
    color: white; }
  footer ul li a {
    color: white;
    text-decoration: none; }
  footer ul li a:hover {
    color: white;
    text-decoration: none; }
  footer input[type="text"], footer input[type="mail"] {
    margin-bottom: 0.5em;
    height: 34px;
    width: 65%; }
  footer .btn-primary, footer .btn-primary:hover, footer .btn-primary:focus, footer .btn-primary:active {
    background-color: #CF6243;
    border: none; }

/*# sourceMappingURL=style.css.map */
