@charset "UTF-8";
* {
  box-sizing: border-box; }

/*Déclaration variables couleurs*/
body {
  font-family: 'PT Sans', sans-serif;
  font-family: 'PT Serif', serif; }

h2 {
  color: #CF6243;
  padding: 1em; }

a:hover {
  text-decoration: none; }

/*-------------HEADER----------------*/
header {
  /*Hamburger*/
  /*Bouton Log In/Sign up*/
  /*Hamburger - Barre*/
  /*Liens navbar*/
  /*----------BACKGROUND FIXED------------------*/ }
  header .navbar-default {
    /*Couleur barre de navigation*/
    margin-bottom: 0;
    background-color: #93A567;
    border-radius: 0;
    border: none; }
  header .navbar-default .navbar-brand {
    color: white;
    font-weight: 400; }
  header .navbar-brand:hover {
    color: white; }
  header .navbar-default .navbar-brand:hover {
    color: white; }
  header .navbar-toggle {
    background-color: white; }
  header .btn-default {
    background-color: transparent;
    border-color: transparent;
    color: white; }
  header .navbar-toggle .icon-bar {
    background-color: #93A567; }
  header .navbar-default .navbar-nav > li > a {
    color: white; }
  header .navbar-default .navbar-nav > li > a:focus,
  header .navbar-default .navbar-nav > li > a:hover {
    color: white; }
  header .btn-default:active,
  header .btn-default:focus,
  header .btn-default:hover {
    background-color: transparent;
    border-color: transparent;
    color: white; }
  header #image_background {
    background-image: url("../images/colleagues.jpg");
    height: 75vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  header .form-control, header .btn {
    padding: 7px 15px;
    height: 41px; }

/*----------Explications-------------*/
section {
  padding-top: 25px; }
  section .row {
    padding-bottom: 2em; }
  section h1 {
    margin-bottom: 25px; }
  section .col-md-3 img {
    width: 50%; }
  section p {
    margin-bottom: 2em; }

hr {
  width: 75%;
  background-color: #CF6243;
  height: 1px;
  border: none; }

/*-----------Actualités des besoins/services---*/
.list-group-item {
  border: 1px solid #CF6243; }

.list-group-item.active,
.list-group-item.active:hover {
  background-color: #93A567;
  border-color: #CF6243; }

a.list-group-item:hover {
  background-color: #93A567;
  border-color: #CF6243;
  color: white; }

/*----------FOOTER------------------*/
footer {
  background-color: #93A567;
  padding-bottom: 0; }
  footer .SocialMedia li {
    display: inline-block; }
  footer h3 {
    color: white;
    font-size: 20px;
    font-weight: 400; }
    footer h3 a {
      color: white; }
    footer h3 a:hover {
      color: white; }
  footer ul {
    list-style-type: none;
    color: white; }
  footer .btn-primary, footer .btn-primary:hover, footer .btn-primary:focus, footer .btn-primary:active {
    background-color: #CF6243;
    border: none; }
  footer ul li a {
    color: white;
    text-decoration: none; }
  footer ul li a:hover {
    color: white;
    text-decoration: none; }
  footer input[type="mail"],
  footer input[type="text"] {
    margin-bottom: 0.5em;
    height: 34px;
    width: 65%; }
  footer button.btn {
    background-color: #CF6243;
    border: none; }
  footer button.btn:focus,
  footer button.btn:hover {
    background-color: #CF6243;
    opacity: 1; }
  footer .btn-primary,
  footer .btn-primary:active,
  footer .btn-primary:focus,
  footer .btn-primary:hover {
    background-color: #CF6243;
    border: none; }

/*# sourceMappingURL=style.css.map */
