{% extends 'base.html.twig' %}

{% block body %}
	
	{% for service in services %}
		
		<div>
			<p>titre : {{ service.title }}</p>
			<p>description : {{ service.description }}</p>
			<p>lieu : {{ service.location }}</p>
		</div>
		
	{% endfor %}
	
{% endblock %}
